body {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  background-color: #330066;
}
.container {
  width: 70%;
  margin: 0 auto;
  border: 20px solid rgb(228, 226, 153);
  margin-top: 50px;
  border-radius: 60px;
  height: 920px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  max-width: 728px;
}
.icon {
  max-width: 380px;
  width: 100%;
}
.palette-btn {
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 8px solid rgb(228, 226, 153);
  cursor: pointer;
}
.palette-icon {
  max-width: 60px;
  width: 100%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-text {
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(204, 204, 134);
  margin: 25px 0;
}
.main-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: #382b22;
  padding: 1.25em 2em;
  background: rgb(235, 236, 153);
  border: 2px solid #fff;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
.main-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(190, 176, 91);
  border-radius: inherit;
  box-shadow: 0 0 0 2px #a59e43, 0 0.625em 0 0 #e9e9d0;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}
.main-button:hover {
  background: rgb(231, 216, 76);
  transform: translate(0, 0.25em);
}
.main-button:hover::before {
  box-shadow: 0 0 0 2px #9e8f0b, 0 0.5em 0 0 #e4d65c;
  transform: translate3d(0, 0.5em, -1em);
}
.main-button:active {
  background: #faea5aea;
  transform: translate(0em, 0.75em);
}
.main-button:active::before {
  box-shadow: 0 0 0 2px #dbe67b, 0 0 #dbe465;
  transform: translate3d(0, 0, -1em);
}
@media (max-width: 1024px) {
  .logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .container {
    height: 990px;
  }
}

/* -----------------Main-Page--------------------- */

.back-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: #382b22;
  padding: 1.25em 2em;
  background: rgb(235, 236, 153);
  border: 2px solid #fff;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
  margin-top: 50px;
}
.back-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(190, 176, 91);
  border-radius: inherit;
  box-shadow: 0 0 0 2px #a59e43, 0 0.625em 0 0 #e9e9d0;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}
.back-btn:hover {
  background: rgb(231, 216, 76);
  transform: translate(0, 0.25em);
}
.back-btn:hover::before {
  box-shadow: 0 0 0 2px #9e8f0b, 0 0.5em 0 0 #e4d65c;
  transform: translate3d(0, 0.5em, -1em);
}
.back-btn:active {
  background: #faea5aea;
  transform: translate(0em, 0.75em);
}
.back-btn:active::before {
  box-shadow: 0 0 0 2px #dbe67b, 0 0 #dbe465;
  transform: translate3d(0, 0, -1em);
}
.counter-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.counter-box {
  max-width: 350px;
  width: 100%;
  height: 350px;
  border: 20px solid rgb(228, 226, 153);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-value {
  color: #fff;
  font-size: 200px;
  font-family: sans-serif;
}
.counter-btns {
  margin-top: 100px;
}
.decrease {
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
.reset {
  height: 50px;
  width: 100px;
  border-radius: 10px;
}
.increase {
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
.decrease:active {
  background-color: rgb(73, 7, 7);
  box-shadow: 2px 2px 5px #440606;
}
.increase:active {
  background-color: green;
  box-shadow: 2px 2px 5px #083a03;
}
@media (max-width: 480px) {
  .counter-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .counter-box {
    height: 280px;
  }
}
/* ---------Counter------------- */
